.text-normal {
  font-size: 1.5rem;
}

.font-regular {
  font-family: "Rajdhani", sans-serif;
}

.font-accent {
  font-family: "Audiowide", sans-serif;
}

.color-dark {
  color: #36435f;
}

.bg-primary-light {
  background: #ffeee5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}
